Source: python-azure-storage
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Antoine R. Dumont <antoine.romain.dumont@gmail.com>
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python-setuptools,
               python-azure-nspkg,
               python-azure-common,
               python-cryptography (>= 1.1~),
               python-dateutil,
               python-requests,
               python3-all,
               python3-setuptools,
               python3-azure-nspkg,
               python3-azure-common,
               python3-cryptography (>= 1.1~),
               python3-dateutil,
               python3-requests
Standards-Version: 3.9.6
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.0
Homepage: https://github.com/Azure/azure-storage-python

Package: python-azure-storage
Architecture: all
Depends: python-cryptography (>= 1.1~),
         ${misc:Depends},
         ${python:Depends}
Description: Microsoft Azure Storage Library for Python
 This project provides a python client library that permits to consume
 Microsoft Azure Storage services (Blob, Queue, Table, Files).
 .
 This is the Python 2 version of the package.

Package: python3-azure-storage
Architecture: all
Depends: python3-cryptography (>= 1.1~),
         ${misc:Depends},
         ${python3:Depends}
Description: Microsoft Azure Storage Library for Python
 This project provides a python client library that permits to consume
 Microsoft Azure Storage services (Blob, Queue, Table, Files).
 .
 This is the Python 3 version of the package.
